$font-family-roman: 'Times New Roman';
$font-family-sf: 'SF Pro Display';
$font-color: #2A3246;
$line-color: rgba(#2A3246, 0.1);
$reset-color: rgba(#2A3246, 0.5);
$line-color-footer: rgba(#2A3246, 0.2);
$search-color: rgba(#2A3246, 0.3);
$main-color: #FF0142;