$font-family-roman: "Times New Roman";
$font-family-sf: "SF Pro Display";
$font-color: #2a3246;
$line-color: rgba(#2a3246, 0.1);
$reset-color: rgba(#2a3246, 0.5);
$line-color-footer: rgba(#2a3246, 0.2);
$search-color: rgba(#2a3246, 0.3);
$main-color: #ff0142;