.header {
    &__title {
        @include xs(margin-left, rem(25px));
        @include md(margin-left, 0);
    }
    &__title-text {
        @include font-styles;
        font-weight: 600;
        font-size: rem(24px);
    }
    &__title-desc {
        @include font-styles;
        font-weight: 400;
        max-width: rem(550px);
        font-size: rem(14px);
    }
    &-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: rem(52px) 0 0 0;
        padding-bottom: rem(33px);
        border-bottom: 1px solid $line-color;
    }
}

.logo {
    @include xs(display, none);
    @include md(display, block);
    margin-right: rem(37px);
}