.violation {
    &-title {
        @include font-styles;
        font-size: rem(24px);
        font-weight: 600;
        padding: rem(22px) 0 rem(32px) rem(10px);
        border-bottom: 1px solid $line-color;
    }

    &__list {
        margin-top: rem(60px);
    }

    &__item {
        margin-bottom: rem(65px);
    }

    &__item-title {
        @include font-styles;
        font-size: rem(20px);
        font-weight: 600;
        margin-bottom: rem(28px);
    }

    &__item-desc {
        @include font-styles;
        font-size: rem(16px);
        font-weight: 300;
        max-width: rem(620px) !important;
    }

    &__item-button {
        color: #ff0142;
        background: none;
        border-bottom: 1px solid $main-color;
        outline: none;
    }
}

.return-violation,
.return-payment {
    font-size: rem(12px);
    font-weight: 400;
    color: $reset-color;
    background: none;
    .line-bottom {
        border-bottom: 1px solid $reset-color;
    }
}

.fa-long-arrow-alt-left {
    padding-right: rem(3px);
}


.payment {
    &__item-title {
        @include font-styles;
        max-width: rem(580px);
        margin: rem(45px) 0 rem(22px) 0;
        font-size: rem(24px);
        font-weight: 600;
    }
    &__item-desc {
        font-size: rem(18px);
        font-weight: 400;
        font-family: $font-family-roman;
        max-width: rem(610px);
        color: $font-color;
    }
    &__item-desc--color {
        color: $main-color;
        border-bottom: 1px solid $main-color;
    }
    &__item-img {
        margin: rem(50px) 0;
    }
    &__item-warn {
        @include font-styles;
        max-width: rem(620px);
        border: 1px solid #fff7d9;
        padding: rem(20px) rem(15px);
        font-size: rem(16px);
        font-weight: 100;
        background: #fff7d9;
    }
}