.footer {
    &-wrapper {
        margin-top: rem(60px);
    }
    &__list {
        flex-wrap: wrap;
    }
    &__list-title {
        @include font-styles;
        font-weight: 600;
        font-size: rem(20px);
        margin-bottom: rem(30px);
    }
    &__link {
        @include font-styles;
        font-weight: 300;
        font-size: rem(16px);
        border-bottom: 1px solid $line-color-footer;
        &:hover {
            border-bottom: 1px solid #007bff;
        }
    }
    &__item {
        padding-bottom: rem(18px);
    }
}

#btn-violation-js,
#btn-payment-js {
    background: none!important;
}