h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin-top: 0;
}

button,
input {
    border: none;
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

.container {
    @include container();
    @include xs(max-width, 320px);
    @include sm(max-width, 510px);
    @include md(max-width, 690px);
    @include lg(max-width, 930px);
    @include xl(max-width, 1110px);
}